aside.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 25dvw;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--contrast-color);
    color: var(--bg-color);
    overflow-x: hidden;
    padding: 1dvw;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    div.menu-top {
        h3 {
            display: flex;
            gap: 0.25dvw;
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 700;
            span.icon {
                transform: translateY(20%);
                font-style: normal;
                color: var(--accent-color);
                user-select: none;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 5dvh;
            li {
                list-style: none;
                position: relative;
                padding: 1vh 0;
                border-top: 1px solid var(--text-color);
                a {
                    display: flex;
                    align-items: flex-start;
                    gap: 0.25dvh;
                    text-decoration: none;
                    color: var(--bg-color);
                    transform: translateX(20rem);
                    transition: transform .35s ease-in-out;
                    span.section-name {
                        font-size: 2rem;
                        line-height: 1.225;
                        text-transform: uppercase;
                        transition: .15s ease-in-out;
                    }
                    span.section-number {
                        font-family: 'Playfair Display', serif;
                        color: var(--accent-color);
                    }
                    &:hover {
                        span.section-name {
                            font-weight: 600;
                            color: var(--accent-color);
                        }
                    }
                }
                &:last-child {
                    border-bottom: 1px solid var(--text-color);
                }
            }
        }
    }
    div.menu-bottom {
        display: flex;
        justify-content: space-between;
        div.socials {
            display: flex;
            flex-direction: column;
            align-items: flex-start;    
            gap: 1.5dvh;
            h5 {
                font-size: 1rem;
                font-weight: normal;
                color: var(--accent-color);
            }
            ul {
                display: flex;
                justify-content: space-between;
                gap: 2.5dvw;
                list-style: none;
            }
        }
        div.theme-color {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1.5dvh;
            h5 {
                font-size: 1rem;
                font-weight: normal;
                color: var(--accent-color);
            }
        }
    }
}