header.header {
    position: sticky;
    top: 0;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1dvh 1dvw;
    z-index: 1000;
    pointer-events: none;
    h3.logo {
        top: 0;
        height: 36px;
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: .75dvw;
        color: var(--contrast-color);
        user-select: none;
        img.logo-icon {
            height: calc((300% - 6dvh)/2);
            width: auto;
        }
        span {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 700;
        }
    }
    button.menu-toggle {
        top: 0;
        right: 0;
        height: auto;
        font-size: 2rem;
        cursor: pointer;
        background: none;
        border: none;
        font-weight: 100;
        color: var(--contrast-color);
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;
        outline: none;
        pointer-events: all;
        &:focus {
            outline: none;
        }
    }
    &.open {
        h3.logo {
            transform: translateX(-25dvw);
        }
        button.menu-toggle {
            color: var(--bg-color);
            rotate: 225deg;
        }
    }
}