:root {
  --bg-color: #f1f1f1;
  --text-color: #555555;
  --contrast-color: #0e0e0e;
  --accent-color: #ff593e;
  --theme-transition: 3s ease-in-out;
}

[data-theme="dark"] {
  --bg-color: #0e0e0e;
  --text-color: #aaaaaa;
  --contrast-color: #f1f1f1;
  --accent-color: #ff593e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(*) {
  transition:
    background-color var(--theme-transition),
    color var(--theme-transition),
    border-color var(--theme-transition),
    fill var(--theme-transition),
    stroke var(--theme-transition);
}

html:not(.theme-ready) * {
  transition: none !important;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  body {
    width: 100dvw;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    main {
      display: flex;
      position: relative;
      width: 125dvw;
      margin-top: calc(-1 * (2dvh + 36px));
      div.content {
        min-width: 0;
        width: 100dvw;
        margin: 25dvh 0;
        padding: 0 calc(25dvw*5/8);
        display: flex;
        flex-direction: column;
        gap: 25dvh;
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
        div.temporary {
          background: var(--accent-color);
          height: 200dvh;
        }
      }
      &.open {
        div.content {
          padding: 0 calc(25dvw*9/8) 0 calc(25dvw/8);
        }
        aside.menu {
          transform: translateX(0);
          ul {
            li {
              a {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}