#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  width: 100dvw;
  height: 100dvh;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 12.5dvh;
  align-items: center;
  justify-content: center;
  img {
    width: auto;
    height: 12.5dvh;
  }
  span {
    font-size: 1.5rem;
  }
}