:root {
  --bg-color: #0e0e0e;
  --text-color: #aaaaaa;
  --contrast-color: #f1f1f1;
  --accent-color: #ff593e;
}

[data-theme="light"] {
  --bg-color: #f1f1f1;
  --text-color: #555555;
  --contrast-color: #0e0e0e;
  --accent-color: #ff593e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  body {
    width: 100dvw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    main {
      display: flex;
      position: relative;
      width: 125dvw;
      margin-top: calc(-1 * (2dvh + 36px));
      div.content {
        min-width: 0;
        width: 100dvw;
        margin: 25dvh 0;
        padding: 0 25dvw;
        display: flex;
        flex-direction: column;
        gap: 25dvh;
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
      }
      &.open {
        div.content {
          padding: 0 37.5dvw 0 12.5dvw;
        }
        aside.menu {
          transform: translateX(0);
        }
      }
    }
  }
}