html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}